{% extends "coplate_base/base.html" %}
{% load widget_tweaks %}

{% block header %}

  <body>
    <div id="left">
        <div style="background-color: midnightblue; width: 500px; height: 1300px; padding-top: 1%; opacity: 92%">
    
        <div class="prof_img">
            <img src="https://blog.kakaocdn.net/dn/d9DBmO/btrShHIWImK/bd7vHKU1N0eUoLLE6ETBwK/img.png"
                alt="Logo" width="300" height="300" class="d-inline-block align-text-top">
        </div>
    
        <div style="text-align : center; margin-top: 40px"><h3><b>연세 동아리인을 위한 포탈</b></h3></div>
    
          <h1><b>Yonsei Dongari Portal</b></h1>
    
          <div style="text-align: center; padding-top: 25px; color: lightsteelblue"><h9>※ 기존 연세포털(https://portal.yonsei.ac.kr)의</h9></div>
          <div style="text-align: center; padding-top: 2px; color: lightsteelblue"><h9>비밀번호로 로그인해 주십시오.</h9></div>
 
          <div style="text-align: center; padding-top: 25px; color: yellow"><h10>이용 후 반드시 로그아웃 해주세요!</h10></div>
          <div style="text-align: center; padding-top: 2px; color: yellow"><h10>Please be sure to log out after use.</h10></div>

        </div>

    </div>
    
    
    <!-- 로그인 부분-->
    <div id="right">
        <div style="background-color: white; width: 900px; height: 1300px; padding-top: 1px; opacity: 93%">
            <form method="POST">
                {% csrf_token %}
                <div style="padding-top: 200px; width: 700px; height: 100px; margin-left: 90px">
                    <!-- Form fields for user registration -->
                    <div style="position: absolute; top: 80px; left: 200px"><h2><b>Welcome Yonsei Dongari Portal</b></h2></div>
                    
                    <div style="width: 500px; margin-left: 100px">

                      <!-- Form fields for user registration -->
                      <div class="form-floating mb-3">
                        {{ form.email|add_class:"form-control"|attr:"placeholder:이메일"|add_error_class:"error"|attr:"id:floatingInput"}}
                        <label for="floatingInput">이메일</label>
                        {% for error in form.email.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.department|add_class:"form-control"|attr:"placeholder:학과(학부)"|add_error_class:"error"|attr:"id:floatingInput"}}
                        <label for="floatingInput">학과(학부)</label>
                        {% for error in form.department.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.username|add_class:"form-control"|attr:"placeholder:이름"|add_error_class:"error"|attr:"id:floatingInput"}}
                        <label for="floatingInput">이름</label>
                        {% for error in form.username.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.nickname|add_class:"form-control"|attr:"placeholder:학번"|add_error_class:"error"|attr:"id:floatingInput"}}
                        <label for="floatingInput">학번</label>
                        {% for error in form.nickname.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.password1|add_class:"form-control"|attr:"placeholder:비밀번호"|add_error_class:"error"|attr:"id:floatingInput"}}
                        <label for="floatingInput">비밀번호</label>
                        {% for error in form.password1.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                      </div>
                      <div class="form-floating mb-3">
                        {{ form.password2|add_class:"form-control"|attr:"placeholder:비밀번호확인"|add_error_class:"error"|attr:"id:floatingInput"}}
                        <label for="floatingInput">비밀번호확인</label>
                        {% for error in form.password2.errors %}
                          <div class="error-message">{{ error }}</div>
                        {% endfor %}
                      </div>
                    
                    </div>

                    <button type="submit" class="cp-button"><h4><b>회원가입 (Signup)</b></h4></button>
                  </div>
            </form>

            <div class="info">
              이미 회원이신가요?<a class="link" href="{% url 'account_login' %}">로그인</a>
            </div>

        </div>
    </div>
    
  </body>
 
{% endblock %}